<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>app.chatone.subscription-bridge</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_EXECUTABLE__</string>
    <string>__BRIDGE_SCRIPT__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>PI_PACKAGE_ROOT</key>
    <string>__PI_PACKAGE_ROOT__</string>
    <key>PI_AUTH_FILE</key>
    <string>__PI_AUTH_FILE__</string>
    <key>CODEX_BRIDGE_HOST</key>
    <string>127.0.0.1</string>
    <key>CODEX_BRIDGE_PORT</key>
    <string>4317</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>WorkingDirectory</key>
  <string>__RUNTIME_DIR__</string>
  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_PATH__</string>
</dict>
</plist>
